.MainHead {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    margin: 50px 0px;

}

.heading {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 20px 0px;

    
}

.blue {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}